name: Rust

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: clippy, rustfmt
      - name: Build
        run: cargo build --verbose
      - name: Run tests
        run: cargo test --all-targets --verbose
      - name: Run doctests
        run: cargo test --doc --verbose
      - name: Lint
        run: cargo clippy --all-targets --workspace --all-features -- -D warnings
      - uses: actions-rust-lang/rustfmt@v1
